<div class="header-main">
  <div class="header-title">
    <h1>CADASTRE-SE</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <app-form (sendEmployee)="saveEmployee($event)" [employeeForm]="employeeForm"></app-form>
</div>

<div class="content-main">
  <div class="content-title">
    <h1>DADOS</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="employees-repport">
    <div class="repport-item">
      <app-table [employees]="employees$ | async"></app-table>
    </div>
    <div class="repport-item">
      <app-pie-chart [dataChar]="dataChar"></app-pie-chart>
    </div>
  </div>
</div>
